<div class="card">
    
  <img class="img" src="assets\images\9_fr.jpg" alt="">
 </div>
 <div class="card-body">
  
   <div class="container">
     <div class="row">
     <div class="about" col-md-12>
         <h3> À<i>propos de moi</i></h3>
       
       
       <div class="col-md-6">
           <div class="about-in">
           <p>Bonjour, je suis {{ name }}...</p>
 
           <br>
           <br>
   <table class="table">
     <thead>
         <th scope="row">Informations :</th>
     </thead>
     <tbody>
       <tr>
         <th scope="row">e-mail de l'utilisateur</th>
         <td>{{ email }}</td>
        
       </tr>
       <tr>
         <th scope="row">nom d'utilisateur </th>
         <td>{{ name }}</td>
        
       </tr>
       <tr>
         <th scope="row">rôle d'utilisateur</th>
         <td>{{ roles }}</td>
        
       </tr>

       <tr>
         <th scope="row">Status</th>
         <td>  Connecté </td>
        
       </tr>
     </tbody>
   </table>
 
        
 
     </div>
   </div>  
 </div>
 
 </div>
</div>